In [1]:
a = 4
b = "ali"
c = 5.3

print(type(a))  
print(type(b))  
print(type(c))

<class 'int'>
<class 'str'>
<class 'float'>

In [5]:
x = input("Enter 3 variables separated by spaces: ")
a,b,c = x.split()
print(a, b, c)

Enter 3 variables separated by spaces: 55 sdf 66.6
55 sdf 66.6

In [7]:
x = int(input("Enter a number"))
a = str(x)
print( len(a))

Enter a number6684
4

In [9]:
num = int(input("Enter a number"))
k = int(input("Enter the number of digits you want to remove them "))
result = num // 10 ** k
print( result)

Enter a number851511
Enter the number of digits you want to remove them 2
8515

In [10]:
a = list(map(int, input("Enter numbers here").split()))
print("Maximum:", max(a))
print("Minimum:", min(a))

Enter numbers here5 8  4 1 8
Maximum: 8
Minimum: 1

In [12]:
a = int(input())
b = int(input())
minimum = min(a, b)
print("Minimum value:", minimum)

44
55
Minimum value: 44

In [15]:
salary = int(input("Enter your salary here"))
if(salary < 1000):
    print("you are poor") 
elif (salary >= 1000 and salary < 20000):
    print(" good salary")
elif (salary >=  20000):
    print("you are rich")

Enter your salary here8451541
you are rich

In [16]:
x = int(input("Enter your age here "))
if x >= 18:
    print("You can drive a car")
else:
    print("You cannot drive a car")

Enter your age here 466
You can drive a car

In [19]:
a = float(input("Enter the first number: "))
b = float(input("Enter the second number: "))
if b != 0:
    result = a / b
    print(result)
else:
    print("infintiy")

Enter the first number: 515
Enter the second number: 0
infintiy

In [20]:
for i in range(0, 13, 3):
    print(i)

0
3
6
9
12

In [21]:
for index, value in enumerate(range(0, 13, 3)):
    print(index, value)

0 0
1 3
2 6
3 9
4 12

In [23]:
listt = [2,6,9,4,9]
result = [x ** 2 for x in listt]
print(result)

[4, 36, 81, 16, 81]

In [24]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
concatenate = list1 + list2
print(concatenate)

[1, 2, 3, 4, 5, 6]

In [25]:
tuplee = (1, 4, 5 ,8,10)
reversed_tuplee = tuple(reversed(tuplee))
print(reversed_tuplee)

(10, 8, 5, 4, 1)

In [26]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
dicttt = dict(zip(keys, values))
print(dicttt)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [28]:
countries = {
    'egypt': 'cairo',
    "aspaniol":"barcelona",
    'France': 'Paris',
    'Germany': 'Berlin',
    'Japan': 'Tokyo'
}
print("Capital of egypt", countries['egypt'])

Capital of egypt cairo

In [33]:
names = {'ali': 'A', 'ayman': 'B', 'soliman': 'd'}
grades = {'ali': 95, 'ayman': 85, 'soliman':51}

combined_dictt = {name: (grades.get(name), grade) for name, grade in names.items()}
print(combined_dictt)

{'ali': (95, 'A'), 'ayman': (85, 'B'), 'soliman': (51, 'd')}